<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4 sidebar-nav fix">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/tweet_form' %>
      </section>
    </aside>
  <div class="col-md-8">
    <h3 class>Timeline</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <div class="hero-unit">
    <h1 class="center">welcome to katatter</h1>
    <div class="col-md-4">

    <h3>ログイン</h3>

    <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, size: 30 %>
      <%= f.label :password %>
      <%= f.password_field :password, size: 30 %>
    </div>
      <%= f.submit 'ログイン' , class: "btn btn-primary"%>
    <% end %>
    </div>
    <br>
    <p>
    ユーザー登録をして今から始める!
    <%= link_to "ユーザ登録する", signup_path, class:"btn btn-large btn-primary" %>
    </p>
  </div>
<% end %>
