<li id="<%= tweet.id %>">
  <a href="<%= tweet_path(tweet.id) %>">
    <div>
      <% if tweet.user.image? %>
      <%= image_tag tweet.user.image.url(:thumb) %>
      <% else %>
      <%= image_tag("egg.png", width: "50", height: "50") %>
      <% end %>
    </div>
    <span class="user">
      <%= link_to tweet.user.name, tweet.user %> <small> <%= tweet.user.userid %> </small>
    </span><br>
    <span class="tubuyaki"><%= wrap(simple_format(tweet.tubuyaki)) %></span><br>
    <span class="timestamp">
      <small>Tweeted <%= time_ago_in_words(tweet.created_at) %> ago.</small>
    </span>

    <% if current_user?(tweet.user) %>
      <%= link_to "消す", tweet, method: :delete, data: { confirm: "本当に消しますか？"}, title: tweet.tubuyaki %><br>
    <div class="favorite-star">
      ☆: <%= link_to "#{ tweet.user_favorites.count }", favorites_tweet_path(tweet.id) %>
    </div>
    <% else %>
      <% if current_user.favorite?(tweet) %>
        <%= form_for(current_user.favorite_relations.find_by(favorite_tweet_id: tweet.id), html: { method: :delete } ) do |f| %>
        <%= f.submit "★", class: "btn btn-primary btn-sm" %>：
        <%= link_to "#{ tweet.user_favorites.count }", favorites_tweet_path(tweet.id) %>
        <% end %>
      <% else %>
        <%= form_for(current_user.favorite_relations.build(favorite_tweet_id: tweet.id)) do |f| %>
        <div> <%= f.hidden_field :favorite_tweet_id %> </div>
          <%= f.submit "☆", class: "btn btn-primary btn-sm" %>：
          <%= link_to "#{ tweet.user_favorites.count }", favorites_tweet_path(tweet.id) %>

        <% end %>
      <% end %>
    <% end %>
    <!-- <%= link_to "#{ tweet.user_favorites.count }", favorites_tweet_path(tweet.id) %> -->
    <%= link_to "リプライ", reply_tweet_path(tweet.id), class: "btn btn-primary" %>：
    <%= link_to reply_tweets(tweet).count, reply_tweet_path(tweet.id) %>
  </a>
</li>
