<li>
  <% if user.image.nil? %>
  <div class="thumbnail">
    <%= image_tag("egg.png") %>
  </div>
  <% else %>
  <%= image_tag user.image.url, size: 52 %>
  <% end %>
  <%= link_to user.name, user %> <small><%= user.userid %></small>
  <% unless current_user.nil? %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <% @user = user %>
    <% unless current_user?(@user) %>
      <div class="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</li>
