<li>
  <% @user = user %>
  <div>
  <% if @user.image? %>
    <%= image_tag @user.image.url(:thumb) %>
  <% else %>
    <%= image_tag("egg.png", width: "50", height: "50") %>
  <% end %>
  </div>
  <%= link_to user.name, user %> <small><%= user.userid %></small>
  <% unless current_user.nil? %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    <!-- <% unless current_user?(@user) %>
      <div class="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
      </div>
    <% end %> -->
  <% end %>
</li>
