<h1>Users</h1>
<%= search_form_for @search do |f| %>
  <%= f.label :name_cont, "ユーザー名" %>
  <%= f.text_field :name_cont %>
  <div class="action">
    <%= f.submit 'さがす' %>
  </div>
  <% end %>

<%= will_paginate %>

<% @users.each do |user| %>
<ul class="users">
  <%= render user %>
</ul>
<% end %>

<%= will_paginate %>
