<% provide(:title, @user.name)  %>
<div class="row">
  <p>
    <% if @user.image? %>
      <div class="thumbnail">
        <%= image_tag @user.image.url %>
      </div>
      <% else %>
      <div class="thumbnail">
        <%= image_tag("egg.png") %>
      </div>
    <% end %>
  </p>
  <p>
    <%= @user.name %>
  </p>
  <div class="span8">
    <% if @user.tweets.any? %>
      <h3><%= @user.tweets.count %> tweets</h3>
      <%= render 'shared/feed' %>
    <% end %>
  </div>
</div
