<% provide(:title, @user.name)  %>
<div class="row">
  <aside class="col-md-4">
    <section>
    <% if @user.image? %>
      <div>
        <%= image_tag @user.image.url(:thumb) %>
      </div>
      <% else %>
      <div>
        <%= image_tag("egg.png", width: "50", height: "50") %>
      </div>
    <% end %>
    </section>
    <%= render "/shared/user_info" %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.tweets.any? %>
      <ul class="tweets">
        <%= render @tweets %>
      </ul>
      <%= will_paginate @tweets %>
    <% end %>
  </div>
</div
