<% @user ||= current_user %>
<div class="stats">
  <a href=" <%= following_user_path(@user) %>">
    フォロー
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
  </a>
  <a href=" <%= followers_user_path(@user) %>">
    フォロワー
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  </a>
  <a href="<%= user_path(@user) %>">
    ツイート
    <strong id="tweets" class="stat">
      <%= @user.tweets.count %>
    </strong>
  </a>
  <a href="<%= favorites_user_path(@user) %>">
  お気に入り
  <strong id="favorites" class="stat">
    <%= @user.favorite_tweets.count %>
  </strong>
</a>
</div>
